@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #121212;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}

ul {
  list-style: none;
}

button {
  color: white;
  width: 11.5rem;
  height: 2.063rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  font-family: 'Roboto', sans-serif;
}

a,
a:active,
a:visited {
  text-decoration: inherit;
}

#header {
  width: 100%;
  justify-content: center;
  border-bottom: 2px #e8e8e8 solid;
}

#headerContainer {
  width: 80%;
  justify-content: flex-start;
  padding: 10px;
}

.headerLogo {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

#navBar ul {
  gap: 30px;
}

#navBar li {
  opacity: 0.5;
  font-size: 0.813rem;
}

#navBar a,
#navBar a::after,
#navBar a:visited {
  color: #121212;
}

.activeLink {
  color: black;
  font-weight: bold;
}

.userLogo {
  margin-left: auto;
  font-size: 22px;
  color: #0290ff;
}

#main {
  width: 100%;
  background-color: #fafafa;
}

.booksListContainer {
  width: 80%;
}

#bookList {
  margin: 30px 0 30px 0;
  width: 100%;
  gap: 30px;
}

.bookLi {
  width: 100%;
  justify-content: space-between;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}

.bookInfoContainer {
  align-items: flex-start;
  gap: 10px;
}

.bookCoreInfo {
  align-items: flex-start;
}

.bookCategory {
  color: darkgray;
}

.bookTitle {
  margin-top: 10px;
  font-size: 30px;
  color: #121212;
}

.bookAuthor {
  color: #4386bf;
}

.bookProgressContainer {
  margin-right: 50px;
  gap: 100px;
}

.bookStats {
  gap: 30px;
}

.bookStatsMetricsContainer {
  align-items: flex-start;
}

.bookStatsMetricsNumber {
  color: #121212;
  font-size: 30px;
}

.bookStatsMetricsStatus {
  color: darkgray;
}

.bookChapterContainer {
  gap: 5px;
  align-items: flex-start;
}

.bookChapterContainer button {
  margin-top: 15px;
}

.bookChapterTitle {
  font-size: 12px;
  color: darkgray;
}

.bookRemoveButton,
.bookInfoActions {
  background: none;
  color: #4386bf;
  width: fit-content;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.bookStatsCircle {
  width: 4.25rem;
  height: 4.25rem;
  border-right: double 5px transparent;
  border-bottom: double 5px transparent;
  border-radius: 50%;
  background-image:
    linear-gradient(white, white),
    linear-gradient(to bottom, #307bbe, #379cf6);
  border-image-slice: 44;
  background-origin: border-box;
  -webkit-background-clip: content-box, border-box;
  background-clip: content-box, border-box;
}

.click {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.mon {
  font-family: 'Montserrat', sans-serif;
}
